<form action="/pirates" method="post">
  Name: <input type="text" name="pirate[name]">
  Weight: <input type="text" name="pirate[weight]">
  Height: <input type="text" name="pirate[height]">

  Ship Name: <input type="text" id ="ship_name_1" name="pirate[ships][][name]">
  Ship type: <input type="text" id ="ship_type_1" name="pirate[ships][][type]">
  Ship booty: <input type="text" id = "ship_booty_1" name="pirate[ships][][booty]">

  Ship Name: <input type="text" id ="ship_name_2" name="pirate[ships][][name]">
  Ship type: <input type="text" id ="ship_type_2" name="pirate[ships][][type]">
  Ship booty: <input type="text" id = "ship_booty_2" name="pirate[ships][][booty]">

  <input type="submit">
</form>
